@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-bebas-neue: var(--font-bebas-neue);
  --font-inter: var(--font-inter);
  --color-pr: #f7a600;
  --color-bg: #ebebeb;
  --color-tgry: #857878;
  --color-gry: #fbfbfb;
  --color-lgry: #f6f6f6;
}
